@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

html {
  font-size: 18px;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: $ff-primary;
  padding: 48px 32px 48px 32px;
  overflow-x: hidden;

  @media (min-width: 880px) {
    padding: 64px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 49%;
    height: 425px;
    top: 0;
    right: 0;
    background: $c-blue-grayish-light;
    border-bottom-left-radius: 55px;
    z-index: -1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-secondary;
}
