@keyframes header-slide-top {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes nav-in {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes nav-out {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}

@keyframes content-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes hero-slide-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
