$c-red: hsl(0, 100%, 68%);
$c-blue-very-dark: hsl(230, 29%, 20%);
$c-blue-grayish: hsl(231, 7%, 65%);
$c-blue-grayish-dark: hsl(230, 11%, 40%);
$c-blue-grayish-light: hsl(207, 33%, 95%);

$ff-primary: "Barlow", sans-serif;
$ff-secondary: "Barlow Condensed", sans-serif;
